.main_nav {
  padding: 0 70px;
  min-height: 50px;
  background-color: #212121;
}

.menu {
  display: flex;
  justify-content: space-between;
  list-style: none;
  margin: 0;
  min-height: 50px;
  align-items: center;
  flex-wrap: wrap;
}

.menu_link {
  font-weight: 300;
  font-size: 15px;
}
.menu_link > a {
  text-decoration: none;
  color: #fff;
}

.menu_link:not(.menu_link:last-child) > a::after {
  content: "";
  height: 10px;
  border-right: 2px dotted black;
  padding-left: 32px;
}

.subheader {
  background: rgba(0, 0, 0, 0.6);
  mix-blend-mode: normal;
  opacity: 0.6;
  padding: 19px 0 17px 0;
}

.subheader_logo {
  max-width: 100%;
  object-fit: cover;
}

.subheader_text {
  font-weight: 200;
  font-size: 13px;
  color: #ffffff;
  opacity: 0.5;
  margin-top: 7px;
}

.subheader_call {
  color: #ffffff;
  font-weight: 300;
  font-size: 12px;
  text-align: right;
}
.subheader_tel {
  display: block;
  font-weight: 400;
  font-size: 22px;
  text-align: right;
  color: #ffffff;
  text-decoration: none;
}

.order_call {
  width: 162px;
  height: 46px;
  background: linear-gradient(0deg, #1eacc7 0%, #4ce2ff 100%);
  box-shadow: inset 0px -3px 0px rgba(0, 0, 0, 0.12);
  border-radius: 4px;
  text-shadow: 1px 1px 0px rgba(0, 0, 0, 0.21);
  font-weight: 400;
  font-size: 14px;
  color: #FFFFFF;
}

.advantages {
}
.mobile {
}
.options {
}
.conditions {
}
.map {
}
footer {
}
